<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="40%">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <mat-list class="container" style='text-align: center'>
          <mat-list-item> 
              <div class="container">
                <mat-form-field>
                    <input matInput placeholder="Imię ojca" formControlName="firstName">
                    <mat-error *ngIf="myForm.controls.firstName.invalid &&(myForm.controls.firstName.touched || myForm.controls.firstName.dirty)">Pole i format wymagane</mat-error>
                  </mat-form-field>
                </div>
                </mat-list-item>
                <mat-list-item> 
                    <div class="container">
                      <mat-form-field>
                          <input matInput placeholder="Nazwisko ojca" formControlName="secondName">
                          <mat-error *ngIf="myForm.controls.secondName.invalid &&(myForm.controls.secondName.touched || myForm.controls.secondName.dirty)">Pole i format wymagane</mat-error>
                        </mat-form-field>
                      </div>
                      </mat-list-item>
          <mat-list-item> 
              <div class="container">
                <mat-form-field>
                    <input matInput placeholder="Pesel ojca" formControlName="PESEL">
                    <mat-error *ngIf="myForm.controls.PESEL.invalid &&(myForm.controls.PESEL.touched || myForm.controls.PESEL.dirty)">Pole i format wymagane</mat-error>
                  </mat-form-field>
                </div>
              </mat-list-item> 
                    <mat-list-item> 
                <div class="container">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Data urodzenia ojca" formControlName="birthDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                </mat-list-item>
       </mat-list>
      </form>
    </div>
  </div>
